@{
    ViewData["Title"] = "Index";
}

<div class"centered">
<h1 class="title">Enjoy these Photos</h1>
</div>
<style>

.title{
    width:100%;
    text-align:center;
}
.centered{


    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;

}

a{
    margin:10px;

}
div{
    margin:10px;
}

.pageSelector{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    flex-flow: wrap;
    width: 90%;
    height: 100%;
    background-color: #bfe2e9;
    overflow: hidden;
    overflow-y: paged-y-controls;
    overflow: scroll;
}

.pageSelector a{
    width: 5px;
    margin: 0;
    padding: 15px;
}

.tab {
    min-height: 150px;
    min-width: 300px;
    height: 100px;
    width: calc(100% - 60px);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    margin: 30px;
    padding:10px;
    border-radius: 30px;
    background-color: grey;
}

input{
    margin:10px;
}

img{
    height:150px;
    width:150px;

    padding:10px;
}

h1{
    width:33%;
}


</style>


<script>



/*
* Process for Loading Page
* Make Get Request to API URL
* Add Content in Call Back Function
*/
console.log("Loading Script");
var itemsPerPage = 50;
var tabsToLoad;

function filterRequestResponse(xmlHttpRequest, onReadyFunction)
{
    if (xmlHttpRequest.status === 403 && getUser() !== null)
    {
        clearUserInfo();
        location.reload();
        return;
    }

    onReadyFunction(xmlHttpRequest);
}

function sendGetRequest(url, onReadyFunction, filterResponse)
{
    let xmlHttpRequest = new XMLHttpRequest();
    let shouldFilterResponse = filterResponse === undefined ? true : filterResponse;

    xmlHttpRequest.onreadystatechange = function ()
    {
        if (this.readyState === 4)
        {
            if (shouldFilterResponse)
            {
                filterRequestResponse(xmlHttpRequest, onReadyFunction);
            }
            else
            {
                onReadyFunction(xmlHttpRequest);
            }
        }
    };
    xmlHttpRequest.open("GET", url, true);

    xmlHttpRequest.send();
    console.log("Sent");
}


function loadContent(currentItemSelected, element)
{
    if(element != null)
    {
        var previousSelected = document.getElementsByClassName("selected");
        previousSelected[0].removeAttribute('class');
        console.log(previousSelected);
        previousSelected.innerHTML = previousSelected.innerHTML;
        console.log(previousSelected);

        element.className = "selected";
    }
    console.log("Loading " + currentItemSelected);
    page = document.getElementById("page");
    page.innerHTML = "";
   
    /*We can iterate over all the Information Coming In as it's sent in a list*/
    for (let i = currentItemSelected; i < (itemsPerPage + currentItemSelected); i++)
    {

        /*Create container */
        let title = tabsToLoad[i].title;
        contentDiv = document.createElement("div");


        /* Add Title */
        contentDiv.className = "tab";
        contentDiv.innerHTML = "<h6>Title: " + title + "</h6>";


        /*Add Image */

        let thumbNail = tabsToLoad[i].thumbnailUrl;
        let imageSource = tabsToLoad[i].url;
        contentDiv.innerHTML += "<a href=\"" + imageSource + "\"><img src=" + thumbNail  + "/></a>";


        page.appendChild(contentDiv);


    }
}


/*Add Content in Call Back Function*/
function onReadyFunction(request)
{
    console.log("Response:" + request.response);


    /* the information being sent is in Json Format
     * Saved as a local Var to avoid reloading the Info
     */
    tabsToLoad = JSON.parse(request.response);

    
    loadContent(0);


    let footer = document.createElement("div");
    footer.innerHTML ="<input value=\""+itemsPerPage+"\">Items Per Page</input> </br> <div>Page:";
    footer.className = "tab";
    
    let pageSelector = document.createElement("div");
    pageSelector.className = "pageSelector";
    footer.appendChild(pageSelector);
    for(var i = 0; i < (tabsToLoad.length / itemsPerPage); i++)
    {
       
        if(i==0)
        {
            pageSelector.innerHTML += "<a class=\"selected\" onclick=\"loadContent("+ i * itemsPerPage +", this)\">" + (i + 1) +"</a>";
        }
        else
        {
            pageSelector.innerHTML += "<a onclick=\"loadContent("+ i * itemsPerPage +", this)\">" + (i + 1) +"</a>";
        }
    }

    footer.innerHTML += "</div>";

    document.body.appendChild(footer);

}

page = document.createElement("div");
page.id = "page";
document.body.appendChild(page);


/*Make Get Request to API URL*/
sendGetRequest('https://jsonplaceholder.typicode.com/photos', onReadyFunction);
console.log("End");

</script>


